$heading--font-family: 'Titillium Web', sans-serif;
$body--font-family: 'Open Sans', sans-serif;

$proto-theme__color--primary:lightseagreen;
$proto-theme__color--secondary:darken(lightseagreen,15%);



$proto__font--color--primary :lightseagreen;
$proto__font--color--body : #232323;

$proto__menu__item--color:white;


$footer__text--color:white;
$footer__height:30px;